body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: rgb(36, 101, 157);
}

.outer-div {
    background-color: aliceblue;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5%;
}

.inner-div {
    height: 50%;

}

input {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: rgb(177, 213, 244);
    border-radius: 5px;
    padding: 7px;
    font-size: large;
    border: 1px solid rgb(177, 213, 244);
}
